<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drop - Mentions légales</title>
        <link rel="stylesheet" href="{% static 'landing/style.css' %}">
        <link rel="icon" type="image/vnd.icon" href="{% static 'logoicon.png' %}">
    </head>

    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="{% static 'content/Logo.png' %}" alt="Logo de l'entreprise"></a>
                </div>
                <div class="social-icons">
                    <a href="https://www.instagram.com/drop.mobility/?hl=fr" target="_blank"><img src="{% static 'content/instagram-icon.png' %}" alt="Instagram"></a>
                    <a href="https://www.tiktok.com/@dropmobility" target="_blank"><img src="{% static 'content/tiktok-icon.png' %}" alt="TikTok"></a>
                    <a href="https://www.linkedin.com/company/dropfrance/" target="_blank"><img src="{% static 'content/linkedin-icon.png' %}" alt="LinkedIn"></a>
                </div>
            </div>
        </header>

        <section class="legal">
            <h2>Mentions Légales</h2>
        
            <h3>Éditeur du site :</h3>
            <p>
                Le présent site internet, accessible à l’adresse [URL de votre site], est édité par Drop, propriété de THE HYDROGEN JOURNEY 2.0, une société immatriculée sous le SIREN 929539344 et le SIRET 92953934400010 , dont le siège social est situé au 68 Rue du bourbonnais 69009 Lyon.
            </p>
    
            <h3>Hébergement :</h3>
            <p>
                Le site est hébergé par [Nom de l’hébergeur], dont le siège social est situé au [adresse de l’hébergeur].
            </p>
        
            <h3>Propriété intellectuelle :</h3>
            <p>
                L’ensemble des éléments graphiques, la structure et, plus généralement, le contenu du site [URL de votre site] sont protégés par le droit d’auteur, le droit des marques et le droit des dessins et modèles. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de THE HYDROGEN JOURNEY 2.0.
            </p>
        
            <h3>Collecte et utilisation des données personnelles :</h3>
            <p>
                En remplissant le formulaire d’inscription pour devenir beta-testeur, vous acceptez que votre adresse email soit collectée et utilisée par THE HYDROGEN JOURNEY 2.0 afin de vous contacter à des fins professionnelles, notamment pour vous tenir informé des nouveautés, des offres promotionnelles et des informations relatives à nos services.
            </p>
            <p>
                Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, et au Règlement Général sur la Protection des Données (RGPD), vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles vous concernant. Vous pouvez exercer ces droits en nous contactant à l’adresse suivante : contact@h2j.energy ou par courrier postal à l’adresse du siège social.
            </p>
        
            <h3>Cookies :</h3>
            <p>
                Le site [URL de votre site] peut utiliser des cookies pour améliorer votre expérience de navigation et pour réaliser des statistiques de visites. Vous pouvez configurer votre navigateur pour accepter ou refuser les cookies.
            </p>
        
            <h3>Responsabilité :</h3>
            <p>
                Drop met tout en œuvre pour offrir aux utilisateurs des informations et/ou des outils disponibles et vérifiés, mais ne saurait être tenu pour responsable des erreurs, d'une absence de disponibilité des informations et/ou de la présence de virus sur son site.
            </p>
        
            <h3>Modification des mentions légales :</h3>
            <p>
                Drop se réserve le droit de modifier les présentes mentions légales à tout moment. L’utilisateur s’engage donc à les consulter régulièrement.
            </p>
        
            <h3>Contact :</h3>
            <p>
                Pour toute question relative aux présentes mentions légales, vous pouvez nous écrire à l’adresse suivante : contact@h2j.energy
            </p>
        </section>
        
        <footer class="footer_legal">
            <p>© 2024 Drop. Tous droits réservés. <a href="/mentions/">Mentions légales</a></p>
        </footer>

    </body>
</html>